* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.user-list {
  display: flex;
  gap: 10px;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 auto 5px;
  padding: 5px;
  list-style: none;
  max-width: 1200px;
}

.user-list p {
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.bold {
  font-weight: bold;
}

.nav-list {
  display: flex;
  width: 400px;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto 10px;
  padding: 5px;
  text-align: center;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px auto;
  padding: 2%;
}

.form-control {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  outline: none;
}

button {
  width: 100px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px auto 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
.record-added{
  text-align: center;
  font-size: medium;  
}

.success{
  color: green;
}

.error{
  color: red;
}